.place__passenger-data {
    margin: 20px 0;
    padding: 40px;
    max-width: 1100px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 10px 50px rgba(20, 35, 61, 0.1);
    border-radius: 20px;
}