.button {
    margin: 0;
    padding: 14px 0;
    border: none;
    width: 180px;
    background: #297FFF;
    border-radius: 9px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.button:hover {
    opacity: .8;
}